/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /* background-color:#E4E4E4; */
    /* background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%); */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        /* background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%); */
    }
}

/* Menu css */
.menuWrap{
    width:100%;
    height:50px;
    display: flex;
    position:fixed;
    bottom:0px;
    line-height:50px;
    cursor: pointer;
    z-index: 100000;
  }
  .MenuItem{
    width: 50%;
    text-align: center;
    z-index: 100000;
  
  
  }
  .content{
    width: 100%;
    height:calc(100vh - 50px);
  }
  #firstMenuItem{
    background:#0069d9;
    color:white;
  
  }
  #secondMenuItem{
    background:white;
    color:black;
  
  }
  #PostsPage{
    display: none;
    height:calc(100vh - 55px);
    position: fixed;
    width: 100%;
    overflow: auto;
  }
  #photonTakingPage>form{
    padding: 20px;
  
  }
  #img{
   width: 80%;
   object-fit: contain;
   margin:auto;
   display:block;
  }
  #buttonWrap{
   margin:auto;
   display:block;
   width: fit-content;
  }
  #submitWrap{
    float: right;

  }
  textarea{
    resize: none !important;
  }
  .errTxt{color:red;display:none;}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 5%;
    position:relative;
    height:30vw;
    min-height: 80px;
    
  }
  .card>img{
   width: 35%;
   height:100%;
   position:absolute;
   left:0px;
   object-fit: cover;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .container >h4{
    height: 25%;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
 }
  .container >p{
     max-height: 56px;
     width: 100%;
     display:-webkit-box;
     -webkit-line-clamp:3;
     -webkit-box-orient:vertical; 
     overflow:hidden;
  }
  .container {
    padding: 2px 16px;
    position:absolute;
    left:37%;
    height:30vw;
    width: 60% !important;
  }

  .loadingSign{
     display: block;
     margin: auto;

  }